/** @format */

:root {
  // Text
  --text-primary: #14181f;
  --text-secondary: #52627a;
  --text-tertiary: #8595ad;
  --text-primary-inverted: #ffffff;
  --text-primary-brand: #1e32e1;
  --text-brand-secondary: #d51063;

  // Brand colours

  --brand-brand-primary: #1e32e1;
  --brand-brand-secondary: #d51063;

  // Button colours

  --button-primary-bg: #1e32e1;
  --button-primary-bg-hover: #4b5be7;

  --button-secondary-bg: #d51063;
  --button-secondary-bg-hover: #f1418b;

  --button-disabled-bg: #d1d7e0;
  --button-outline-primary: #ffffff;
  --button-outline-accent: #ffffff;

  // Stroke colours
  --stroke-primary: #edebef;

  // Link colours
  --link-primary: #1e32e1;
  --link-primary-hover: #7884ed;

  --link-secondary: #14181f;
  --link-secondary-hover: #52627a;

  --link-tertiary: #52627a;
  --link-tertiary-hover: #14181f;

  // Icon colours
  --icon-primary: #060a2d;
  --icon-secondary: #8595ad;
  --icon-tertiary: #a3afc2;

  --icon-brand-primary: #1e32e1;
  --icon-brand-secondary: #d51063;
  --icon-white-colour: #ffffff;

  // Input Fields
  --field-bg-normal: #f6f7f9;
  --field-bg-active: #ffffff;
  --field-bg-disabled: #e0e4eb;
  --field-bg-brand: #1e32e1;

  --field-stroke-primary: #e0e4eb;
  --field-stroke-secondary: #c2cad6;
  --field-stroke-error: #ff5757;

  // Background colours

  --bg-white: #ffffff;
  --bg-primary: #f6f7f9;
  --bg-primary-inverted: #14181f;
  --bg-brand-primary: #1e32e1;
  --bg-brand-secondary: #d51063;
  --bg-transparent-60: #060a2d99;

  // System colours

  --system-error: #ff5757;
  --system-error-dimmed: #ffe0e0;

  --system-warning: #f3b821;
  --system-warning-dimmed: #fcf0cf;

  --system-success: #31b546;
  --system-success-dimmed: #bfeec6;

  --system-neutral: #8595ad;
  --system-neutral-dimmed: #f0f2f5;
}
