/** @format */

.auth-page {
  .auth-page__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .block-section {
    width: 100%;
    max-width: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.auth-page__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 32rem;

  .title {
    text-align: center;
  }
}
