/** @format */

.footer {
  padding: 4rem;
  border-top: 1px solid var(--stroke-primary);

  .footer__inner {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  @include respond(desktop) {
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
  }

  @include respond(tabdesk) {
    padding: 14px 32px 24px;
  }

  @include respond(mobilemini) {
    padding: 16px 20px;
  }
}

.footer__left-text {
  color: var(--text-primary);
}

.footer__right,
.social {
  display: flex;
  align-items: center;
  gap: 24px;
}

.social {
  height: 2rem;
}

.social__item {
  height: 2rem;
  transition: all 0.3s ease;

  svg {
    color: var(--icon-secondary);
  }

  &:hover svg {
    cursor: pointer;
    color: var(--social-hovers);
  }
}

.footer__left,
.footer__right {
  @include respond(tabdesk) {
    display: none;
  }
}

.footer__list {
  margin-bottom: 24px;
  display: flex;
  align-items: center;

  @include respond(mobilemini) {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__item {
    padding: 5px 0;
  }

  .footer__item:not(:last-child) {
    margin-right: 32px;
    padding-right: 32px;
    border-right: 1px solid var(--stroke-primary);

    @include respond(mobilemini) {
      margin-right: 0;
      margin-bottom: 24px;
    }
  }
}

.footer__link {
  font-size: 14px;
  color: var(--link-primary);
  line-height: 22.4px;
  display: block;
}

.text-body {
  font-size: 14px;
}

// footer__mobile

.footer__mobile {
  display: none;

  @include respond(tabdesk) {
    display: flex;
    width: 100%;
  }
}

.mobile-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.mobile-list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;
  align-items: center;
  gap: 4px;

  &:hover {
    cursor: pointer;
  }

  &:hover .mobile-list__link {
    color: var(--link-primary-hover);
  }

  &:hover svg {
    color: var(--link-primary-hover);
  }

  svg {
    color: var(--icon-brand-primary);
  }

  .mobile-list__link {
    font-size: 14px;
    line-height: 22.4px;
    font-weight: 400;
    color: var(--link-primary);
    text-align: center;

    @include respond(mobilemini) {
      font-size: 12px;
      line-height: 19.2px;
    }

    &:hover {
      color: var(--link-primary-hover);
    }
  }
}
