/** @format */

.header {
  padding: 19px 40px;
  width: 100%;
  border-bottom: 1px solid var(--stroke-primary);

  @include respond(tabdesk) {
    padding-right: 32px;
    padding-left: 32px;
  }

  @include respond(mobilemini) {
    padding: 12px 0;
    padding-right: 0px;
    padding-left: 0px;

    &::-webkit-scrollbar {
      background-color: transparent;
      height: 0;
    }
  }
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-lang-hamburger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 187px;
  width: 100%;
  gap: 56px;
}

.header__logo {
  display: none;

  @include respond(tabdesk) {
    display: flex;
  }

  @include respond(mobilemini) {
    svg {
      width: 58px;
      height: 20px;
    }
  }
}

.header__toggle-btn {
  display: none;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--button-outline-primary);
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  max-width: 75px;

  .icon-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
  }

  .icon-close {
    display: none;
  }

  &.active .icon-close {
    display: flex;
  }

  &.active .icon-hamburger {
    display: none;
  }

  @include respond(tabdesk) {
    display: flex;
    z-index: 101;
  }
}

.header__toggle-text {
  font-weight: 700;
  font-size: 12px;
  color: var(--text-primary);
  line-height: 16.8px;
}

.top-menu {
  display: flex;
  align-items: center;

  @include respond(tabdesk) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 74px;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 100vh;
    background: #fff;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    max-width: 100%;
    transition-delay: 0.1s;
    transition: transform 0.4s ease;
    transform: translateX(-100%);
    padding-top: 7rem;

    @include respond(mobilemini) {
      padding-top: 4rem;
      top: 6rem;
    }

    &.active {
      transform: none;

      .top-menu__item {
        border: 0 none;
        margin-bottom: 4rem;
      }

      .top-menu__item:not(:last-child) {
        border: 0 none;
        margin-right: 0;
        padding: 0;
      }
    }
  }

  .top-menu__item.is-profile {
    display: none;

    @include respond(tabdesk) {
      display: flex;
    }
  }

  .top-menu__item.is-new {
    display: flex;
    align-items: center;
    gap: 8px;

    .top-menu__item-text {
      padding: 2px 3px;
      border-radius: 3px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 10px;
      color: var(--text-primary);
      background-color: var(--system-warning);
      display: none;
    }
  }
  .top-menu__item.is-new .top-menu__item-text {
    display: flex;

    @include respond(tabdesk) {
      display: none;
    }
  }

  .top-menu__item:first-child {
    display: none;

    @include respond(tabdesk) {
      display: block;

      .top-menu__link {
        height: 22px;
      }
    }
    .icon {
      @include respond(mobilemini) {
        width: 63px;
        height: 22px;
      }
    }
  }

  .top-menu__item:not(:last-child) {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 32px;
    margin-right: 32px;
    border-right: 1px solid var(--stroke-primary);

    @include respond(mobilemini) {
      padding-right: 24px;
      margin-right: 24px;
    }
  }

  .top-menu__link {
    display: block;
    color: var(--link-primary);

    @include respond(tabdesk) {
      font-weight: 700;
      font-size: 2rem;
      line-height: 32px;
    }

    @include respond(mobilemini) {
      font-size: 16px;
      line-height: 25.6px;
    }

    &:hover {
      color: var(--link-primary-hover);
    }
  }
}

.header__row-right {
  display: flex;
  align-items: center;
}

.header__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--stroke-primary);
  margin-right: 32px;
  flex-shrink: 0;

  @include respond(tabdesk) {
    display: none;
  }
}

.header__button-lang {
  height: 26px;
  display: block;
  border-left: 1px solid var(--stroke-primary);
  padding-left: 32px;

  &:hover {
    cursor: pointer;
  }

  @include respond(tabdesk) {
    padding-left: 0;
    border: 0 none;
  }

  @include respond(mobilemini) {
    height: 22px;
  }
  .icon {
    margin-right: 8px;

    @include respond(mobilemini) {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }
  }

  .text {
    font-size: 16px;
    color: var(--link-secondary-colour);
    line-height: 25.6px;
    width: 30px;

    @include respond(mobilemini) {
      font-size: 14px;
      line-height: 22.4px;
    }
  }
}
