/** @format */

body.active {
  position: fixed;
  overflow-x: hidden;
  right: 0;
  left: 0;
}

.wrapper {
  display: flex;
  align-items: flex-start;
}

.main-app {
  width: 100%;
  border-left: 1px solid var(--stroke-primary);
}

.main-app.inside-page {
  border: 0 none;
  .top-menu .top-menu__item:first-child {
    @include respond(tabdesk) {
      display: none;
    }
  }
}

.main-page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: var(--bg-primary);
  display: block;
  padding: 4rem;

  @include respond(tabdesk) {
    padding: 4rem 3.2rem;
  }

  @include respond(mobilemini) {
    padding: 24px 0;
  }
}

.main-page.inside-page {
  padding: 40px 0 80px;

  @include respond(mobilemini) {
    padding: 32px 0 52px;
  }
}

.main-app.inside-page .footer {
  padding-right: 0;
  padding-left: 0;
}

.section-heading {
  margin-bottom: 3.2rem;

  .section-heading__default {
    display: flex;
    gap: 16px;

    @include respond(mobilemini) {
      flex-direction: column;
    }
    .title {
      margin-bottom: 0px;

      @include respond(tabdesk) {
        padding-right: 16px;
        border-right: 1px solid var(--stroke-primary);
      }

      @include respond(mobilemini) {
        border: 0 none;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }

  @include respond(mobilemini) {
    margin-bottom: 24px;
  }
}

.grid__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  .btn {
    display: none;
    align-items: center;
    height: 44px;

    @include respond(tabdesk) {
      display: flex;
    }

    @include respond(mobilemini) {
      height: 36px;
      line-height: 36px;
    }

    svg {
      margin-right: 8px;
    }

    .text-default {
      color: var(--text-primary-inverted);
    }
  }
}

.card-image__img {
  display: block;
  cursor: pointer;
  position: relative;

  svg {
    position: absolute;
    right: 12px;
    bottom: 12px;
    display: none;

    @include respond(mobilemini) {
      display: block;
    }
  }
}

.section-heading__innner {
  display: flex;
  align-items: center;

  @include respond(mobilemini) {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  .btn.outline {
    height: 32px;
  }

  .filter-btn {
    display: none;
    align-items: center;
    gap: 8px;
    height: 44px;

    @include respond(tabdesk) {
      display: flex;
    }

    @include respond(mobilemini) {
      height: 32px;
      padding-right: 8px;
      padding-left: 8px;
      .text-default {
        font-size: 12px;
      }
    }
  }
}
