/** @format */
.not-found-page {
  margin-top: 32px;
  display: none;

  &.is-visible {
    display: flex;
  }

  &.not-found-page_sidebar .not-found {
    gap: 4px;
    padding: 8px;

    svg {
      width: 24px;
      height: 24px;
    }

    .title {
      font-size: 12px;
    }
  }
}

.not-found {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  background-color: var(--bg-white);
  border: 1px solid var(--stroke-primary);
  padding: 4rem;
  border-radius: var(--section-border-radius);
}
