/** @format */

.product__list {
  @include respond(mobilemini) {
    flex-direction: column;
    gap: 0;
  }

  .product__item {
    @include respond(mobilemini) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.product__item {
  .image-wrap {
    display: block;

    img {
      border-radius: 8px;
    }
  }
}
