/** @format */

.sidebar {
  position: relative;
  border-right: 1px solid var(--stroke-primary);
  @include respond(tabdesk991) {
    display: flex;
    flex: 0 0 23rem;
  }

  .sidebar__inner {
    width: 100%;
    max-width: 33rem;
    position: relative;
    padding: 25px 0;
    height: 100%;
    min-height: 100vh;
    background-color: var(--bg-white);
    padding-bottom: 92px;

    @include respond(tabdesk) {
      display: flex;
      position: fixed;
      flex-direction: column;
      top: 0;
      right: 0;
      z-index: 100;
      width: 100%;
      height: 100%;
      transition: transform 0.3s;
      transform: translateX(100%);
      border: none 0;
    }
  }
}

.sidebar.open .sidebar__inner {
  transform: none;
  z-index: 1000;
  overflow-y: auto;
}

.sidebar__close {
  transform: translateX(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20px;
  right: -1rem;
  z-index: 100;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: all 0.3s;
  background-color: var(--bg-primary);
  border: 1px solid var(--stroke-primary);

  &:hover {
    cursor: pointer;
  }

  &:hover svg {
    color: var(--icon-brand-secondary);
  }
}

.sidebar.open .sidebar__close {
  z-index: 999;
  right: 24.6rem;
  transform: none;
}

.sidebar__logo {
  display: block;
  text-align: center;
}

.sidebar-menu {
  margin-top: 30px;

  .sidebar-menu__item {
    padding: 24px 32px;

    &:first-child {
      margin-top: 0;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--stroke-primary);
    }
  }
}

.filter__title {
  color: var(--text-primary-colour);
  margin-bottom: 12px;
  display: block;
}

.filter__search {
  width: 100%;
  margin-bottom: 12px;
}

.filter__search-input,
.filter__search-sidebar{
  background-color: var(--field-bg-normal);
  border: 1px solid var(--field-stroke-primary);
  border-radius: 4px;
  padding: 6px 8px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 19.2px;
  color: var(--text-secondary);
  transition: all 0.3s ease;

  &:hover {
    border-color: var(--field-stroke-secondary);
  }
}

.filter__list {
  .filter__item {
    margin-bottom: 12px;
    transition: all .3s ease;

    &:hover .filter__mask {
      box-shadow: inset 0 0 0 2px var(--field-stroke-secondary);
    }

    &.error .filter__mask {
      background-color: var(--system-error-dimmed);
      box-shadow: inset 0 0 0 2px var(--system-error);
    }
    &.error {
      .filter__checkbox-wrap input:checked + .filter__mask {
        background-color: var(--system-error-dimmed);
        box-shadow: inset 0 0 0 2px var(--system-error);

        &:hover {
          box-shadow: inset 0 0 0 2px var(--system-error);
        }

        &::before {
          content: "";
          position: absolute;
          background-image: url(../assets/icons/check-icon-black.svg);
          background-repeat: no-repeat;
          background-position: center center;
          width: 12px;
          height: 12px;
          opacity: 1;
        }
      }
    }



    .filter__checkbox-wrap {
      display: flex;
      align-items: flex-start;

      &:hover {
        cursor: pointer;
      }
    }

    .filter__input[type="checkbox"] {
      &:disabled + .filter__mask {
        background-color: var(--field-bg-disabled);
        border: 0 none;
        box-shadow: none;
      }
    }

    .filter__input[type="checkbox"] {
      display: none;
    }

    .filter__checkbox-wrap input:checked + .filter__mask::before {
      opacity: 1;
    }
    .filter__checkbox-wrap input:checked + .filter__mask {
      background-color: var(--field-bg-brand);
      box-shadow: none;
      border: 0 none;
    }

    .filter__checkbox-wrap input:checked ~ .filter__mask {
      &:hover {
        box-shadow: inset 0 0 0 2px var(--field-stroke-secondary);
      }
    }

    .filter__mask {
      position: relative;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      background-color: var(--field-bg-normal);
      box-shadow: inset 0 0 0 1px var(--field-stroke-secondary);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
      flex-shrink: 0;

      &::before {
        content: "";
        position: absolute;
        background-image: url(../assets/icons/check-icon.svg);
        background-repeat: no-repeat;
        background-position: center center;
        width: 12px;
        height: 12px;
        opacity: 0;
      }
    }
  }

  .filter__more-item {
    opacity: 0;
    height: 0;
    position: relative;
    z-index: -1;
    transition: all 0.2s ease;
  }
  .filter__more-item.open {
    opacity: 1;
    z-index: 1;
    height: 100%;
  }

  .filter__more {
    display: flex;
    align-items: center;
    max-width: max-content;
    transition: all 0.2s ease;

    svg {
      transform: rotate(90deg);
    }

    &.active {
      svg {
        transform: rotate(270deg);
      }
    }

    &:hover {
      cursor: pointer;
    }

    span {
      margin-right: 4px;
      display: block;
      color: var(--link-primary-colour);

      &:hover {
        color: var(--link-primary-hover-colour);
      }
    }
  }
}

.sidebar__bottom {
  display: none;
  background-color: var(--bg-white);
  position: fixed;
  z-index: 100;
  bottom: 0;
  padding: 24px 32px;
  width: 100%;
}

.sidebar.open .sidebar__bottom {
  display: flex;
}

.sidebar__btn-close {
  display: none;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  box-shadow: inset 0 0 0 1px var(--button-outline-primary);
  border-radius: 4px;
  padding: 12px 16px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: inset 0 0 0 2px var(--button-outline-primary);
  }
}

@media (max-width: 320px) {
  .sidebar .sidebar__inner {
    max-width: 100%;
  }
  .sidebar__bottom {
    display: flex;
    gap: 10px;
  }
  .sidebar__btn-close {
    display: flex;
  }
}
